:root {
  --backgroundColorDark: #1a1319;
  --backgroundColorLight: #ffffff;
  --backgroundColorDarkTranslucid: #1a1319ee;
  --backgroundColorLightTranslucid: #ffffffee;

  --surface01dp: #121212;
  --surface06dp: #2c2c2c;
  --surface12dp: #313131;

  --white87: rgba(255, 255, 255, 0.87);
  --white60: rgba(255, 255, 255, 0.6);
  --white38: rgba(255, 255, 255, 0.38);
}
/* dark theme  */

body.dark-theme {
  background-color: var(--backgroundColorDark);
}
/* dark theme  */

/* light theme  */

body.light-theme {
  background-color: var(--backgroundColorLight);
}

body.light-theme .card {
  background-color: var(--white87);
}
body.light-theme .card-title {

  color: var(--surface01dp);
}
body.light-theme .card-text {

  color: var(--surface01dp);
}

body.light-theme .simpleTitle {
  color: var(--surface01dp);
}
body.light-theme .simpleLine {
  border-top: 1px solid var(--surface06dp);
}
body.light-theme .simpleText {
  color: var(--surface01dp);
}
body.light-theme .btn-light {
  color: var(--white87);
  background-color: var(--surface06dp);
  transition: background-color 0.3s ease;
}
body.light-theme .btn-light:hover {
  color: var(--surface06dp);
  background-color: var(--white87);
}

/* Timeline */

body.light-theme .main-timeline .timeline {
  border-top: 2px solid var(--surface06dp);
}
body.light-theme .main-timeline .timeline:before {
  background: var(--surface06dp);
}
body.light-theme .main-timeline .timeline-content {
  color: var(--surface01dp);
}
body.light-theme .main-timeline p {
  color: var(--surface01dp);
}

body.light-theme .main-timeline .timeline-content:before {
  background: var(--surface06dp);
}
body.light-theme .main-timeline .timeline:nth-child(4n + 2) .timeline-content:before {
  background: var(--surface06dp);
}
/* timeline */

/* Navigation Bar */

body.light-theme .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--surface01dp);
}
body.light-theme .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--surface06dp);
  padding: 0 1rem;
  transition: color 0.3s ease;
}
/* Navigation Bar */

/* Welcome Section */

body.light-theme .welcome-text p {
  font-size: 1.5rem;
  margin-top: 2%;
  margin-bottom: 2rem;
  color: var(--surface01dp);
  
}
body.light-theme .welcome-text .btn-primary {
  font-size: 1.2rem;
  padding: 0.75rem 2.5rem;
  border-radius: 1.5rem;
  border: none;
  color: var(--white87);
  background-color: var(--surface01dp);
  transition: background-color 0.3s ease;
}
body.light-theme .welcome-text .btn-primary:hover {
  color: var(--surface01dp);
  background-color: var(--white87);
}
/* Welcome Section */
/* light theme  */

/* Set background color of the whole page */

body {
  
  font-family: "Montserrat", sans-serif;
}
/* Set background color of the whole page */

/* Animations */

.welcome-text p,
.welcome-text img,
.welcome-text .btn-primary {
  opacity: 0;
  transform: translateY(50px);
  animation-name: slide-up;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animations */

/* fload button language-switche*/
.language-switcher {
  position: fixed;
  bottom: 77%;
  right: 0px;
  z-index: 9999;
}
#language-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0rem;
}
#language-icon {
  width: 45px;
}
/* fload button language-switche*/

/* fload button theme-switche*/
.theme-switcher {
  position: fixed;
  bottom: 70%;
  right: 0px;
  z-index: 9999;
}
#theme-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0rem;
}
#theme-icon {
  width: 40px;
}
/* fload button theme-switche*/

/* fload button up-button*/
.up-button {
  position: fixed;
  bottom: 5%;
  right: 0px;
  z-index: 9999;
}
#up-button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  padding: 0rem;
}
#up-icon {
  width: 40px;
}
/* fload button language-switche*/

/* card */

.card img {
  height: 82px;
}

.card {
  background-color: var(--surface01dp);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}
.card:hover {
  transform: translateY(-10px);
}
.card-body {
  padding: 0rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 9px;
  color: var(--white87);
}
.card-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--white87);
}

#cardGlass .card  {
  background-color: var(--background-color);
  margin-bottom: 0rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
/* card */

/* Navigation Bar */
.navbar {
  background-color: transparent;
  border: none;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white87);
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white60);
  padding: 0 1rem;
  transition: color 0.3s ease;
}
/* Navigation Bar */

/* Welcome Section */

.welcome-section {
  position: relative;
  height: 100vh;
}
.welcome-text img {
  margin-top: 13%;
}
.welcome-text p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--white87);
  
}
.welcome-text .btn-primary {
  font-size: 1.2rem;
  padding: 0.75rem 2.5rem;
  border-radius: 1.5rem;
  border: none;
  color: var(--surface01dp);
  background-color: var(--white87);
  transition: background-color 0.3s ease;
}
.welcome-text .btn-primary:hover {
  color: var(--white87);
  background-color: var(--surface01dp);
}
/* Welcome Section */

/* About me Section */

.simpleTitle {
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: var(--white87);
  margin: 3rem;
}
.simpleLine {
  border-top: 1px solid var(--white60);
  margin-top: 3rem;
}
.simpleText {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: var(--white87);
  margin: 3rem;
}
.btn-light {
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  color: var(--surface01dp);
  background-color: var(--white87);
  transition: background-color 0.3s ease;
}
.btn-light:hover {
  color: var(--white87);
  background-color: var(--surface01dp);
}
/* About me Section */ 

/* Timeline */

.container-academic-line img {
  height: 122px;
}
.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}
.main-timeline .timeline {
  width: calc(50% + 58px);
  border-top: 2px solid var(--white60);
  float: left;
  position: relative;
  z-index: 1;
}
.main-timeline .timeline:before {
  content: "";
  background: var(--white60);
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: 0;
}
.main-timeline .timeline-content {
  color: var(--white87);
  text-align: center;
  padding: 15px 80px 15px 10px;
  display: block;
  position: relative;
}
.main-timeline p {
  font-size: 1.5rem;
  color: var(--white87);
  padding-top: 1rem;
}
.main-timeline .timeline-content:hover {
  text-decoration: none;
}
.main-timeline .timeline-content:before {
  content: "";
  background: var(--white60);
  width: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 50px;
}
.main-timeline .timeline-year {
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  transform: translateY(-50%) rotate(90deg);
  position: absolute;
  top: 50%;
  right: -15px;
}
.main-timeline .title {
  font-size: 22px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.main-timeline .description {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}
.main-timeline .timeline:nth-child(even) {
  float: right;
}
.main-timeline .timeline:nth-child(even):before {
  right: auto;
  left: 0;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 15px 10px 15px 80px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before {
  right: auto;
  left: 51px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
  right: auto;
  left: -15px;
}
.main-timeline .timeline:nth-child(4n + 2) .timeline-content:before {
  background: var(--white60);
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
  }
}
/* timeline */

/* Portfolio Section */

/* Portfolio Section */

/* contact Section */

/* contact Section */

/* Footer */

.footer-section p,
.social-icon i {
  font-family: "Lato", sans-serif;
  /* Other styles */
}
.footer-section {
  padding: 3rem 0;
  background-color: var(--surface01dp);
  color: var(--white87);
}
.footer-section p {
  margin-bottom: 0;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.social-icon img {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
.social-icon {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s ease-in-out;
}
.social-icon:hover {
  transform: translateY(-10px);
}
.social-icon i {
  font-size: 1.5rem;
}
/* Footer */
