/* dark theme and font */
body.dark-theme {
  background-color: var(--backgroundColorDark);
  font-family: "Consolas", monospace;
  color: var(--white87);
  font-size: medium;
}
/* dark theme and font */

/* light theme  */

body.light-theme {
  background-color: var(--backgroundColorLight);
  font-family: "Consolas", monospace;
  color: var(--surface01dp);
  font-size: medium;
}
body.light-theme .navbar p {
  color: var(--surface06dp);
  margin: 0;
  padding: 0;
}
body.light-theme button {
  --bs-btn-border-color: var(--surface01dp);
  --bs-btn-hover-bg: var(--surface01dp);
  --bs-btn-hover-border-color: var(--surface01dp);
  --bs-btn-color: var(--surface01dp);
  --bs-btn-hover-color: var(--white87);
}
body.light-theme #simpleTitle,
body.light-theme .simpleTitle {
  color: var(--surface01dp);
  text-shadow: var(--accentColor) 0 3px 3px;
}
body.light-theme .aboutContainer .fst-italic {
  color: var(--surface06dp);
}
body.light-theme .aboutContainer .card,
body.light-theme .cardSimpleTitleSkills {
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0,
    inset var(--surface01dp) 0 0 0 1px, inset transparent 0 0 0 6px;
  color: var(--surface01dp);
}
body.light-theme .skillsContainer .academicContainer li {
  border-left: 1px solid var(--surface01dp);
  &:last-child {
    border: 0px;
    padding-bottom: 0;
  }
  .skillsContainer .academicContainer &:before {
    background: var(--backgroundColorLight);
    border: 1px solid var(--backgroundColorDark);
    box-shadow: 3px 3px 0px var(--surface01dp);
    box-shadow: 3px 3px 0px var(--surface01dp);
  }
}
body.light-theme .welcome-section {
  background-image: none;
}
body.light-theme .welcome-section p,
body.light-theme .welcome-section button,
body.light-theme .welcome-section img {
  margin-left: 0%;
}
/* body.light-theme .light {
  box-shadow: var(--accentColor) 0px 0px 20px 2px;
}
@media (max-width: 540px) {
  body.light-theme .light {
    box-shadow: var(--accentColor) 0px 0px 20px 2px;
  }
} */
body.light-theme .projects-section .card,
body.light-theme .custom-card-large .card,
body.light-theme .custom-card .card {
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0,
    inset var(--surface01dp) 0 0 0 1px, inset transparent 0 0 0 6px;
}
body.light-theme .simpleLine {
  border-top: 1px solid var(--surface06dp);
}
body.light-theme #glow {
  text-shadow: 0 0 1vw var(--glowColorLight);
}
body.light-theme .contact-section .card {
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0,
    inset var(--surface01dp) 0 0 0 1px, inset transparent 0 0 0 6px;
}
body.light-theme .navbar p:hover,
body.light-theme .custom-card .card-info,
body.light-theme .custom-card-large .card-info,
body.light-theme .projects-section .card p,
body.light-theme .contact-section .card p {
  color: var(--surface01dp);
}
body.light-theme .containerSkills h1 {
  color: var(--surface06dp);
  font-size: 22px;
  font-weight: 700;
  text-shadow: var(--accentColor) 0 3px 3px;
}
body.light-theme .navbar p::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--accentColor);
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.25s;
}
body.light-theme .navbar p:hover::after {
  transform: scale(1, 1);
}
body.light-theme .contact-section .card:hover,
body.light-theme .projects-section .card:hover,
body.light-theme .custom-card-large .card:hover,
body.light-theme .custom-card .card:hover,
body.light-theme .cardSimpleTitleSkills:hover,
body.light-theme .aboutContainer .card:hover {
  box-shadow: var(--accentColor) 0 0px 22px 0,
    inset var(--surface01dp) 0 0 0 1px, inset transparent 0 0 0 6px;
}
/* light theme  */
